<%= form_with(model: @job, local: true) do |f| %>

  <%= f.hidden_field :company_id, value: @company.id %>

  <div class="form-group">
    <%= f.label :name %>

    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= f.submit "Create job", class: "btn btn-block btn-outline-secondary" %>
<% end %>
