<!-- Form job start -->
<%= form_with(model: @job, local: true) do |f| %>
<!-- Form job end -->

  <!-- Label and input for company_id start -->
  <!-- Input for company_id start -->
  <%= f.hidden_field :company_id, value: @company.id %>
  <!-- Input for company_id end -->
  <!-- Label and input for company_id end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <%= f.label :name %>

    <!-- Input for name start -->
    <%= f.text_field :name, class: "form-control" %>
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <%= f.submit "Create job", class: "btn btn-block btn-outline-secondary" %>
<% end %>
