<%= form_with(model: @interview_experience_post, local: true) do |f| %>

  <%= f.hidden_field :student_id, value: @student_profile.id %>

  <div class="form-group">
    <%= f.label :anonymous %>

    <%= f.text_field :anonymous, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :company_id %>

    <%= f.collection_select :company_id, Company.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :job_id %>

    <%= f.collection_select :job_id, Job.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :preparation_experience %>
    <%= f.text_area :preparation_experience, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :date_of_interview %>

    <%= f.date_select :date_of_interview, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :resources_used %>
    <%= f.text_area :resources_used, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :interview_experience %>
    <%= f.text_area :interview_experience, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :offer_status %>

    <%= f.text_field :offer_status, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :compensation %>

    <%= f.text_field :compensation, class: "form-control" %>
  </div>

  <%= f.submit "Create interview experience post", class: "btn btn-block btn-outline-secondary" %>
<% end %>
