<div class="card mb-3">
  <h2 class="card-header h4">
    Interview Experience Post #<%= interview_experience_post.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Student</dt>
      <dd>
        <% if @interview_experience_post.student.present? %>
          <%= link_to interview_experience_post.student, interview_experience_post.student %>
        <% end %>
      </dd>

      <dt>Anonymous</dt>
      <dd><%= interview_experience_post.anonymous %></dd>

      <dt>Company</dt>
      <dd>
        <% if @interview_experience_post.company.present? %>
          <%= link_to interview_experience_post.company, interview_experience_post.company %>
        <% end %>
      </dd>

      <dt>Job</dt>
      <dd>
        <% if @interview_experience_post.job.present? %>
          <%= link_to interview_experience_post.job, interview_experience_post.job %>
        <% end %>
      </dd>

      <dt>Preparation experience</dt>
      <dd><%= interview_experience_post.preparation_experience %></dd>

      <dt>Date of interview</dt>
      <dd><%= interview_experience_post.date_of_interview %></dd>

      <dt>Resources used</dt>
      <dd><%= interview_experience_post.resources_used %></dd>

      <dt>Interview experience</dt>
      <dd><%= interview_experience_post.interview_experience %></dd>

      <dt>Offer status</dt>
      <dd><%= interview_experience_post.offer_status %></dd>

      <dt>Compensation</dt>
      <dd><%= interview_experience_post.compensation %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back interview_experience_post, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <% if current_student_profile == @interview_experience_post.student %>
          <%= link_to edit_interview_experience_post_url(interview_experience_post), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col">
        <% if current_student_profile == @interview_experience_post.student %>
          <%= link_to interview_experience_post, method: :delete, data: { confirm: "Do you really want to delete this interview_experience_post?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(interview_experience_post.updated_at) %> ago
  </div>
</div>
