<% was_validated = interview_experience_post.errors.any? %>

<%= form_with(model: interview_experience_post, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for student_id start -->
  <!-- Input for "student_id" start -->
  <%= f.hidden_field :student_id, value: current_student_profile.id %>
  <!-- Input for "student_id" end -->
  <!-- Label and input for student_id end -->
  <!-- Label and input for anonymous start -->
  <div class="form-group">
    <% anonymou_class = "form-control" %>
    <% anonymou_was_invalid = interview_experience_post.errors.include?(:anonymou) %>

    <% if was_validated %>
      <% if anonymou_was_invalid %>
        <% anonymou_class << " is-invalid" %>
      <% else %>
        <% anonymou_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :anonymous %>
    <!-- Input for anonymous start -->
    <%= f.text_field :anonymous, class: anonymou_class, placeholder: "Enter anonymou" %>
    <!-- Input for anonymous end -->
    <% if anonymou_was_invalid %>
      <% interview_experience_post.errors.full_messages_for(:anonymou).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for anonymous end -->
  <!-- Label and input for company_id start -->
  <div class="form-group">
    <% company_class = "form-control" %>
    <% company_was_invalid = interview_experience_post.errors.include?(:company) %>

    <% if was_validated %>
      <% if company_was_invalid %>
        <% company_class << " is-invalid" %>
      <% else %>
        <% company_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :company_id %>
    <!-- Input for company_id start -->
    <%= f.collection_select :company_id, Company.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for company_id end -->
    <% if company_was_invalid %>
      <% interview_experience_post.errors.full_messages_for(:company).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for company_id end -->
  <!-- Label and input for job_id start -->
  <div class="form-group">
    <% job_class = "form-control" %>
    <% job_was_invalid = interview_experience_post.errors.include?(:job) %>

    <% if was_validated %>
      <% if job_was_invalid %>
        <% job_class << " is-invalid" %>
      <% else %>
        <% job_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :job_id %>
    <!-- Input for job_id start -->
    <%= f.collection_select :job_id, Job.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for job_id end -->
    <% if job_was_invalid %>
      <% interview_experience_post.errors.full_messages_for(:job).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for job_id end -->
  <!-- Label and input for preparation_experience start -->
  <div class="form-group">
    <% preparation_experience_class = "form-control" %>
    <% preparation_experience_was_invalid = interview_experience_post.errors.include?(:preparation_experience) %>

    <% if was_validated %>
      <% if preparation_experience_was_invalid %>
        <% preparation_experience_class << " is-invalid" %>
      <% else %>
        <% preparation_experience_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :preparation_experience %>
    <!-- Input for preparation_experience start -->
    <%= f.text_area :preparation_experience, class: preparation_experience_class, placeholder: "Enter preparation experience" %>
    <!-- Input for preparation_experience end -->
    <% if preparation_experience_was_invalid %>
      <% interview_experience_post.errors.full_messages_for(:preparation_experience).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for preparation_experience end -->
  <!-- Label and input for date_of_interview start -->
  <div class="form-group">
    <% date_of_interview_class = "form-control" %>
    <% date_of_interview_was_invalid = interview_experience_post.errors.include?(:date_of_interview) %>

    <% if was_validated %>
      <% if date_of_interview_was_invalid %>
        <% date_of_interview_class << " is-invalid" %>
      <% else %>
        <% date_of_interview_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :date_of_interview %>
    <!-- Input for date_of_interview start -->
    <%= f.date_select :date_of_interview, class: date_of_interview_class, placeholder: "Enter date of interview" %>
    <!-- Input for date_of_interview end -->
    <% if date_of_interview_was_invalid %>
      <% interview_experience_post.errors.full_messages_for(:date_of_interview).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for date_of_interview end -->
  <!-- Label and input for resources_used start -->
  <div class="form-group">
    <% resources_used_class = "form-control" %>
    <% resources_used_was_invalid = interview_experience_post.errors.include?(:resources_used) %>

    <% if was_validated %>
      <% if resources_used_was_invalid %>
        <% resources_used_class << " is-invalid" %>
      <% else %>
        <% resources_used_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :resources_used %>
    <!-- Input for resources_used start -->
    <%= f.text_area :resources_used, class: resources_used_class, placeholder: "Enter resources used" %>
    <!-- Input for resources_used end -->
    <% if resources_used_was_invalid %>
      <% interview_experience_post.errors.full_messages_for(:resources_used).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for resources_used end -->
  <!-- Label and input for interview_experience start -->
  <div class="form-group">
    <% interview_experience_class = "form-control" %>
    <% interview_experience_was_invalid = interview_experience_post.errors.include?(:interview_experience) %>

    <% if was_validated %>
      <% if interview_experience_was_invalid %>
        <% interview_experience_class << " is-invalid" %>
      <% else %>
        <% interview_experience_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :interview_experience %>
    <!-- Input for interview_experience start -->
    <%= f.text_area :interview_experience, class: interview_experience_class, placeholder: "Enter interview experience" %>
    <!-- Input for interview_experience end -->
    <% if interview_experience_was_invalid %>
      <% interview_experience_post.errors.full_messages_for(:interview_experience).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for interview_experience end -->
  <!-- Label and input for offer_status start -->
  <div class="form-group">
    <% offer_status_class = "form-control" %>
    <% offer_status_was_invalid = interview_experience_post.errors.include?(:offer_status) %>

    <% if was_validated %>
      <% if offer_status_was_invalid %>
        <% offer_status_class << " is-invalid" %>
      <% else %>
        <% offer_status_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :offer_status %>
    <!-- Input for offer_status start -->
    <%= f.text_field :offer_status, class: offer_status_class, placeholder: "Enter offer status" %>
    <!-- Input for offer_status end -->
    <% if offer_status_was_invalid %>
      <% interview_experience_post.errors.full_messages_for(:offer_status).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for offer_status end -->
  <!-- Label and input for compensation start -->
  <div class="form-group">
    <% compensation_class = "form-control" %>
    <% compensation_was_invalid = interview_experience_post.errors.include?(:compensation) %>

    <% if was_validated %>
      <% if compensation_was_invalid %>
        <% compensation_class << " is-invalid" %>
      <% else %>
        <% compensation_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :compensation %>
    <!-- Input for compensation start -->
    <%= f.number_field :compensation, class: compensation_class, placeholder: "Enter compensation" %>
    <!-- Input for compensation end -->
    <% if compensation_was_invalid %>
      <% interview_experience_post.errors.full_messages_for(:compensation).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for compensation end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
